extends base.pug

block content
	section.container
		div
			form(method="POST", action="/editar", class="")
				input(type="hidden",name="id", value=data._id)
				label(for="name", class="mt-2")
					.
						Nombre
				input(type="text",name="name",required=true, value=data.name,class="form-control")
				label(for="age", class="mt-2")
					.
						Edad
				input(type="number",name="age",required=true,value=data.age class="form-control")
				label(for="country",class="mt-2")
					.
						País
				input(type="text",name="country",required=true, value=data.country,class="form-control")
				label(for="twitter", class="mt-2")
					.
						Twitter
				input(type="text",name="twitter",placeholder="@nombreusuario", class="form-control", value=data.twitter)
				label(for="os", class="mt-2")
					.
						Sistema operativo
				input(type="text",name="os",required=true,placeholder="windows or linux or macos", class="form-control", value=data.os)

				button(type="submit", class="btn btn-success btn-lg mt-3")
					.
						Actualizar